/* input mono */
@font-face {
    font-family: 'input_mono_regular';
    src: url('~@/assets/fonts/InputMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'input_mono_medium';
    src: url('~@/assets/fonts/InputMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'input_mono_bold';
    src: url('~@/assets/fonts/InputMono-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'input_mono_thin';
    src: url('~@/assets/fonts/InputMono-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'input_mono_light';
    src: url('~@/assets/fonts/InputMono-Light.ttf') format('truetype');
}
